.row
  .twelve.columns
    = link_to "Back to home", root_path
.row
  .six.columns
    - if @results.nil? || !@results[:complete]
      = render partial: "playlist/playlist_select_form"
    - else
      = render partial: "playlist/table_partial", locals: { name: @results[:data].name, tracks: @results[:data].tracks }
  .six.columns
    = render partial: "playlist/table_partial", locals: { name: @playlist.name, tracks: @tracks }
