.row
  .twelve.columns
    = link_to "Back to home", root_path
.row
  .twelve.columns
    = render partial: "playlist/track_table", locals: { name: @playlist.name, tracks: @tracks, diff_results: nil }
